@import "tailwindcss";

.merriweather{
  font-family: "Poppins", sans-serif;
  font-optical-sizing: auto;
  font-weight:400;
  font-style: normal;
  font-variation-settings: "wdth" 100;
  line-height: 1.6;
} 